//
//  Debug.xcconfig
//  DDiary
//
//  Created by Ilia Khokhlov on 18.12.25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Base.xcconfig"
GOOGLE_OAUTH_KEY = $(GOOGLE_OAUTH_KEY_DEV)
