//
//  Secrets.xcconfig.example
//  DDiary
//
//  Created by Ilia Khokhlov on 18.12.25.
//

# copy to Secrets.xcconfig and fill
GOOGLE_OAUTH_KEY_DEV = 
GOOGLE_OAUTH_KEY_PROD =
AMPLITUDE_API_KEY_DEV = amplitude-dev-key
AMPLITUDE_API_KEY_PROD = amplitude-prod-key
