<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pivovar.ddiary</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.383781347842-eebk0q5ogjta4s85tel3dccfd8u2fj1o</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_OAUTH_KEY</key>
	<string>$(GOOGLE_OAUTH_KEY)</string>
	<key>AMPLITUDE_API_KEY</key>
	<string>$(AMPLITUDE_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
